@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}
:root {
    --bg-color:black;
    --first-bg-color:rgba(0, 0, 0, 0.842);
    --sec-bg-color: #7CFC00;
    --third-bg-color:#7efc009d;
    --four-bg-color:#7efc0038;
    --text-color:#fff;
    --text1-color: #ffffffc8;
}
body {
    background: var(--bg-color);
    color:var(--text-color);
}
.header {
    position: fixed;
    width: 100%;
    top:0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 6%;
    background: var( --bg-color);
    /* backdrop-filter: blur(10px); */
    /* transition: all 0.5s ease; */
    box-shadow: 0.1rem 0.1rem 0.5rem var(--third-bg-color);
}
.name {
    font-size: 2.5rem;
    color: var(--sec-bg-color);
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.name:hover {
    transform: scale(1.05);
}
span {
    color: var(--sec-bg-color);
}
.navbar a {
    color: var(--text-color);
    font-size: 1.2rem;
    margin-left: 3.5rem;
    font-weight: 600;
    /* transform: 0.3s ease; */
}
.navbar a:hover,
.navbar a.active {
    color: var(--sec-bg-color);
}
#bar-icon {
    font-size: 2rem;
    color: var(--sec-bg-color);
    display: none;
    cursor: pointer;
}
section {
    min-height: 100vh;
    padding: 10rem 11% 2rem;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;   
    gap: 7rem;
}
.image img,
.about-image img  {
    width: 100%;
    max-width: 300px;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--third-bg-color);
    animation: floatImage 5s ease-in-out infinite;
    transition: 0.4s ease;
}
.image img:hover,
.about-image img:hover {
    box-shadow: 0 0 10px var(--sec-bg-color),
                0 0 15px var(--sec-bg-color),
                0 0 20px var(--sec-bg-color);
}
@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-1.4rem);
    }
    100%{
        transform: translateY(0);
    }
}
h2{
    font-size: 2.9rem;
}
p {
    margin-top: 1rem;
    line-height: 1.8rem;
    margin-bottom: 1.5rem;
    font-size: 1.16rem;
}
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background: transparent;
    border: 0.1rem solid var(--sec-bg-color);
    border-radius: 50%;
    font-size: 1.6rem;
    color: var(--sec-bg-color);
    margin-left: 0 0.5rem;
    transition: 0.5s ease;
}
.social-media a:hover{
    transform: scale(1.1) translateY(-3px);
    background: var(--sec-bg-color);
    color: var(--first-bg-color);
    box-shadow: 0 0 5px var(--sec-bg-color);
}
.btn {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    border-radius: 3rem;
    font-weight: 600;
    background: var(--sec-bg-color);
    color: var(--text-color);
    transition: 0.3s ease;
}
.btn:hover{
    transform: scale(1.02);
    box-shadow: 0 0 7px var(--sec-bg-color);
}
.about {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:4rem;
}
h3 {
    font-size: 1.7rem;
    margin-top: 1rem;
}
.skill-content,
.project-content{
    display:flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap:4rem;
}
.skill-box,
.project-box{ 
    flex: 1 1 300px;   
    max-width: 350px;
    background: var(--four-bg-color);
    padding: 0.2rem 1rem; 
    border-radius: 1.8rem;
    text-align: center;
    box-shadow: 0 0 15px var(--third-bg-color);
    transition: 0.3s ease;
}
.skill-box:hover,
.project-box:hover {
    box-shadow: 0 0 25px var(--third-bg-color); 
    transform: scaleY(1.009) translateY(-2px);                     
}
.skill h2,
.project h2,
.contact h2 {
    margin-bottom: 4rem;
    text-align: center;
    color: var(--sec-bg-color);
}
.skill-box i,
.project-box i{
    font-size: 1.7rem;
    color: var(--sec-bg-color);
    margin-top: 1.2rem;
}
.skill-box h3,
.heading h3{
    color: var(--sec-bg-color);
}
.skill-box p {
    font-size: 0.95rem; 
    margin-left: 1rem;
}
.skill-box a {
    margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: left;
}
.heading a {
    color: var(--sec-bg-color);
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-right: 1rem;
}
.project-box p{
    font-size: 0.95rem; 
    margin-left: 1rem;
}
.project #link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background: transparent;
    border: 0.1rem solid var(--sec-bg-color);
    border-radius: 50%;
    font-size: 1.6rem;
    color: var(--sec-bg-color);
    margin-left: 0.4rem;
    transition: 0.5 ease;
}
.project-box #link:hover{
    transform: scale(1.1) translateY(-1px);
    background: var(--sec-bg-color);
    color: var(--text-color);
    box-shadow: 0 0 4px var(--sec-bg-color);
}
.project-box .btn {
    margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: left;
}
.contact {
    background: var(--first-bg-color);
}

.contact form {
    max-width: 80rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
    text-align: center;
}
.contact form .input-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact form .input-box input,
.contact form textarea {
    width: 97%;
    padding:0.5rem;
    font-size: 1.3rem;
    color: var(--text-color);
    background: var(--four-bg-color);
    box-shadow: 0 0 5px var(--sec-bg-color);
    border-radius: 0.6rem;
   margin-top: 10px;
    resize: none;
}
.contact form .input-box input{
    width:48%;
    margin: 0.5rem 0.35rem;
}
.contact form .btn{
    margin-top: 2rem;
}
.footer-sec {
    bottom: 0;
    width: 100%;
    padding: 40px 0 1px 0;
    background: var(--four-bg-color);
    box-shadow: 0.1rem 0.1rem 0.7rem var(--third-bg-color);
}
.footer-sec .social {
    text-align: center;
}
.footer-sec .social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border: 2px solid var(--sec-bg-color);
    border-radius: 50%;
    font-size: 1.3rem;
    color: var(--sec-bg-color);
    margin: 0 10px;
    padding: 0.2rem;
    transition: 0.3 ease;
}
.footer-sec .social a:hover{
    transform: scale(1.1) translateY(-2px);
    background: var(--sec-bg-color);
    color: var(--first-bg-color);
    box-shadow: 0 0 5px var(--sec-bg-color);
}
.footer-sec p{
    font-size: 0.9rem;
    text-align: center;
    color: var(--text1-color);
    margin-top: 2rem;
} 
@media (max-width: 1050px){
    p{
        font-size: 1.09rem;
    }
    h2{
        font-size: 2.7rem;
    } 
}
@media (max-width: 996px){
    p{
        font-size: 1rem;
    }
    h2{
        font-size: 2.5rem;
    } 
    .name {
        font-size: 2.2rem;
    }
    .navbar a{
        margin-left: 2rem;
    }
}
@media (max-width: 828px){
    p{
        font-size: 0.8rem;
    }
    h2{
        font-size: 2.2rem;
    } 
    .name {
        font-size: 1.9rem;
    }
    .navbar a{
        margin-left: 1.8rem;
    }
}
@media (max-width: 778px){
    #bar-icon{
        display: block;
    }
    .header {
        padding: 1rem 5%;
    }
    .navbar{
        display: none;
    }
    .navbar.active{
        display: flex;
        flex-direction: column;
        position: absolute;
        top:100%;
        right: 0;
        width: 100%;
        background: var(--bg-color);
        padding: 1rem 0;
    }
    .navbar a{
        margin: 1rem;
        text-align: center;
    }
    .home{
        flex-direction: column;
    }
    p{
        font-size: 1rem;
    }
    .about{
        flex-direction: column-reverse;
    }
}


    
 
  
   
  
 
